[submodule "images/cheese/mount/bar"]
	path = images/cheese/mount/bar
	url = https://github.com/foo/bar.git
	branch = "v1.2.3"
# next is a duplicate submodule repo but under a different path, test must update both
[submodule "images/wine/mount/bar"]
	path = images/wine/mount/bar
	url = https://github.com/foo/bar.git
	branch = "v1.2.3"
[submodule "images/beer/mount/bar"]
	path = images/beer/mount/bar
	url = https://github.com/foo/beer.git
	branch = "v7.8.9"
