# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: goreleaser-build

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  goreleaser-build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - uses: goreleaser/goreleaser-action@9c156ee8a17a598857849441385a2041ef570552 # v6.3.0
        with:
          args: release --snapshot --clean --skip=publish,sign --parallelism 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: test binary
        shell: bash
        run: |
          ./dist/wolfictl_linux_amd64 version

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: wolfictl
          path: ./dist/wolfictl*
          retention-days: 1
