name: ci

on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

jobs:
  build:
    permissions:
      contents: read

    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2

      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: '1.21'
          check-latest: true

      - uses: chainguard-dev/actions/goimports@main
      - run: make wolfictl
      - run: make test

  wolfictl-text:
    permissions:
      contents: read

    name: wolfictl text on wolfi-dev/os
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version: '1.21'
          check-latest: true

      - run: make wolfictl
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          repository: 'wolfi-dev/os'
          path: 'wolfi-os'
      - name: Test Wolfi OS repo
        run: |
          ./wolfictl text -d wolfi-os \
            --type=name \
            --pipeline-dir=wolfi-os/pipelines/ \
            --keyring-append=https://packages.wolfi.dev/bootstrap/stage3/wolfi-signing.rsa.pub \
            --repository-append=https://packages.wolfi.dev/bootstrap/stage3

      - name: Test nested repo structure
        run: |
          ./wolfictl text -d testdata/text/ | grep foo-0.0.2-r0
          ./wolfictl text -d testdata/text/ | grep bar-0.0.1-r0
          ./wolfictl text -d testdata/text/ | grep root-0.0.1-r0
