# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: goreleaser-build

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  goreleaser-build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --snapshot --clean --skip=publish,sign --parallelism 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: test binary
        shell: bash
        run: |
          ./dist/wolfictl_linux_amd64 version

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wolfictl
          path: ./dist/wolfictl*
          retention-days: 1
