# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: goreleaser-build

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  goreleaser-build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --snapshot --clean --skip=publish,sign --parallelism 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: test binary
        shell: bash
        run: |
          ./dist/wolfictl_linux_amd64 version

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wolfictl
          path: ./dist/wolfictl*
          retention-days: 1
