# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: goreleaser-build

on:
  pull_request:
    branches:
      - 'main'

permissions: {}

jobs:
  goreleaser-build:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          check-latest: true

      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          args: release --snapshot --clean --skip=publish,sign --parallelism 1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: test binary
        shell: bash
        run: |
          ./dist/wolfictl_linux_amd64 version

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wolfictl
          path: ./dist/wolfictl*
          retention-days: 1
